<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detail-pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if(pokemon){
    <!-- Imagen -->
    <ion-img [src]="pokemon.sprite"/>
    
    <!-- Informacion basica -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-capitalize">{{pokemon.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-text>Tipo</ion-text>
            </ion-col>
            <ion-col>
              <ion-img class="ion-padding-start ion-padding-end" [src]="'assets/img/' + pokemon.type1 + '.gif'"/>
            </ion-col>
            <ion-col>
              @if(pokemon.type2){
                <ion-img class="ion-padding-start ion-padding-end" [src]="'assets/img/' + pokemon.type2 + '.gif'"/>
              }
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Peso</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{pokemon.weight}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Altura</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{pokemon.height}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <!-- Habilidades -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Habilidades</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="5">
            <ion-text>Principales</ion-text>
          </ion-col>
          <ion-col size="7" class="ion-text-end">
            <ion-text>{{pokemon.abilities}}</ion-text>
          </ion-col>
        </ion-row>
        @if(pokemon.hiddenAbility){
          <ion-row>
            <ion-col>
              <ion-text>Oculta</ion-text>
            </ion-col>
            <ion-col size="7" class="ion-text-end">
              <ion-text>{{pokemon.hiddenAbility}}</ion-text>
            </ion-col>
          </ion-row>
        }
      </ion-card-content>
    </ion-card>
    
    <!-- Estadisticas -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Estadísticas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        @for(stat of pokemon.stats; track stat){
          @let value = toNumber( stat.base_stat );
          @let color = value >=60 ?'success':value<=30?'danger':'warning';
          <ion-row>
            <ion-col size="4">
              <ion-text>{{ stat.name }}</ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-text>{{ value }}</ion-text>
            </ion-col>
            <ion-col>
              <ion-progress-bar [value]="value/100" [color]="color"></ion-progress-bar>
            </ion-col>
          </ion-row>
        }
      </ion-card-content>
    </ion-card>
  }

  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
